.body-light{
    background-image: url(..//Images/white-wallpaper.jpg);
    background-size: cover;
}

.body-dark{
    background-image: url(..//Images/black-wallpaper.jpg);
    background-size: cover;

}